
        .footer{
            
            background-color: rgb(60, 124, 207);
            min-height: 30vh;
    

        }
       
        .footer_section{
            display: flex;
            flex-direction: row;
            row-gap: 2rem;
            color: rgb(12, 238, 144);
            list-style: none;
            margin-top: 1.8rem;
        }